<template>
  <div class="">
    <div class="bg-success pt-5">
      <ContentDoc path="/head" />
    </div>

    <div class="bg-secondary">
      <ContentDoc path="/point1" />
    </div>

    <div class="bg-warning">
      <ContentDoc path="/point2" />
    </div>

    <div class="bg-secondary">
      <ContentDoc path="/point3" />
    </div>

    <div class="bg-warning">
      <ContentDoc path="/point4" />
    </div>
    
  </div>
</template>

<style scoped>
</style>